@import 'settings';

@import url('https://fonts.googleapis.com/css?family=Raleway:400,600,900');

@import 'headings';
@import 'grid';

*, *:before, *:after {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: sans-serif;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.2;
  font-family: Helvetica, arial, sans-serif;
  font-weight: 300;
  color: $base-colour;
  background-color: white;
}