@import 'settings';

.site-footer {
  background-color: $brand-primary;
  color: #fff;
  padding: 4rem 1rem;
  text-align: center;
  position: relative;
  margin-top: -4rem;

  @include medium {
    padding: 80px;
    margin-top: -8rem;
  }

  a {
    color: #fff;
  }

  .fixed-logo {
    position: absolute;
    bottom: -1rem;
    right: -20rem;
    z-index: 999;

    svg {
      fill: white;
      width: 460px;
      height: 460px;
      opacity: 0.4;
    }

  }

  h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    padding: 0;
    text-align: left;
    text-shadow: 4px 4px 0 $brand-primary;
    margin-bottom: 2rem;
    min-height: 52px;
  }

  input,
  button {
    width: 100%;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 0 none;
    height: 40px;
  }

  button {
    background-color: $brand-secondary;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
  }

  a {
    text-decoration: none;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    display: block;
    background-color: $brand-tertiary;
    &:hover {
      background-color: darken($brand-tertiary, 6%);
    }
  }

  .copyright {
    border-top: 1px solid darken($brand-tertiary, 6%);
    margin: 2rem 1rem 0;
    padding: 3rem 0 0;
    text-align: left;
    width: 100%;
  }

  .menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }

}

.site-footer__container {
  overflow: hidden;

  @include medium {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 3rem;
  }

}

hr {
  border: 1px solid white;
  height: 1px;
  clear: both;
  margin: 1rem 0;
  display: block;
}

.camera-icon {
  position: fixed;
  bottom: 0.5rem;
  left: 0.5rem;
  z-index: 999;
  opacity: 1;
  width: 24px;
  height: 24px;
  fill: $brand-primary;
  @include medium {
    width: 40px;
    height: 40px;
    bottom: 2rem;
    left: 2rem;
    fill: white;
  }
  @include large {
    width: 64px;
    height: 64px;
  }
}

.pop-up {
  position: fixed;
  bottom: 4rem;
  left: 4rem;
  z-index: 888;
  width: 200px;
  height: auto;
  opacity: 0.8;
  background-color: white;
  padding: 1rem;
}